* {
    font-family: 'Ubuntu Mono', monospace !important;
}
body {
    background-color: black;
    color: white;
}

#shell_input_label {
    width: 20%;
    width: 20vw !important;
}

#shell_input {
    width: 80%;
    width: 80vw !important;
    background-color: black !important;
    color: white !important;
    font-size: 20px;
    caret-color: white;
    border: none;
    
}

#shell_input:focus {
    outline: none;
}